*,*::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

body.correct {
    background-color: green;
}

body.wrong {
    background-color: red;
}

.head div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px ;
    padding-top: 5%;
    justify-content: space-between;

}

.head p {
    margin-right: 10%;
}


.hide {
    display: none;
}